<h1>Listing memberships</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default panel1">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          PlayGym has hourly drop-in rates and membership options
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <b>Drop in:</b>
        Booklet of 10 unlimited visit tickets available at Rs. 2500/-
      </div>
    </div>
  </div>
  <div class="panel panel-default panel2">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Monthly Membership (per child)
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Membership Extras
        <ul>
          <li>Additional child (sibling) discount: 25%
          <li>Quarterly memberships: 10 % discount on monthly membership 
          <li>6-month memberships: 25% discount on monthly membership
          <li>Discount on Birthday parties and events 
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel3">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Membership Benefits
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <b>Access to Classes and Programs </b>
        <ul>
          <li>Referral Bonus: When you refer a friend who becomes a member, receive 1 week of your membership free.</li>
          <li>Free internet for parents at PlayGym </li>
          <li>Free access to Weekly Movie nights for the whole family. </li>
          <li>Quarterly member appreciation event</li>
          <li>25% discount on drop-in charges</li>
        </ul>
      </div>
    </div>
  </div>
</div>