<%= flash[:notice]%>
<h1>Listing memberships</h1>

<h4>PlayGym has hourly drop-in rates and membership options</h4>
<div>
  <table>
    <tr>
      <td>
        <li><b><u>Drop in:</u></b> Rs. 200/- per hour, Rs. 300/- per 2 hours for 1 child.</li> 
        <li>Booklet of 10 unlimited visit tickets available at Rs. 2500/-.</li>
      </td>
    </tr>
    <tr>
      <td>
        <li><b><u>Monthly Membership (per child):</li></b></u> 
        <li>Rs 2500/- per month [Introductory offer: Rs 1,750/- per month for the first 6 months until 15-Feb-2014].This includes 3 unlimited visits per week to PlayGym. </li>
            <li><b>Membership Extras:</li></b> 
               <li>Additional child (sibling) discount: 25% </li>
               <li>Quarterly memberships: 10 % discount on 
                monthly membership </li>
               <li>6-month memberships: 25% discount on 
                monthly membership </li>
               <li>Discount on Birthday parties and events </li>
      </td>
      <td>
        <b><u>Membership Benefits:</u></b>
        <li>
          Access to Classes and Programs 
<li>Referral Bonus: When you refer a friend who 
becomes a member, receive 1 week of your 
membership free.</li>
<li>Free internet for parents at PlayGym </li>
<li>Free access to Weekly Movie nights for the 
whole family. </li>
<li>Quarterly member appreciation event</li>
<li>25% discount on drop-in charges</li>
  
      </td>
    </tr>
      
  <tr>
      <td></td>
      <td></td>
  </tr>

  </tr>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    alert('inside')


  })

</script>