<h1>PlayGym has hourly drop-in rates and membership options</h1>
<div class="panel-group" id="accordion">
  <div class="panel panel-default panel1">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Drop In Charges
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Rs. 200/- per hour, Rs. 300/- per 2 hours for 1 child
        Booklet of 10 unlimited visit tickets available at Rs. 2500/-
      </div>
    </div>
  </div>
  <div class="panel panel-default panel2">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Monthly Membership (per child)
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Rs 2500/- per month. This includes 3 unlimited visits per week to PlayGym.
      </div>
    </div>
  </div>
  <div class="panel panel-default panel3">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Weekly Membership
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Rs 1000/- per week. This includes 3 unlimited during the week to PlayGym.
      </div>
    </div>
  </div>
</div>