<div class="row-fluid">
	<div class="tiles blue tile-group four-wide">
	    <!-- Sliding Tile that shows 100% of the back tile every 3 seconds -->
	    <div class="live-tile" data-speed="750" data-delay="5000">
	        <div class="ttl">Karate Class for Kids (Age group 5+)</div>
	        <div class="cntnt">Twice a week , Rate 1000 / Month(this includes 2 hours of complemetry play at Playgym) Duration 90 mins </div>
	    </div>
	    <!-- Red Flip Tile that flips every 4 seconds -->
	    <div class="red live-tile" data-mode="flip" data-delay="4000">            
	        <div class="ttl">Yoga for kids (Age group 4 - 10)</div>
	        <div class="cntnt">Twice a week , Rate 1000 / Month(this includes 2 hours of complemetry play at Playgym) Duration 60 mins</div>
	    </div>
	    <!-- Carousel Tile that slides 4 tile faces every 2.5 seconds -->
	    <div class="live-tile pink" data-direction="horizontal" data-delay="2500">
	        <div class="ttl">Yoga for Adults (Age group 13+)</div>
	        <div class="cntnt">Thrice a week , Rate 1500 / Month Duration 60 mins</div>
	    </div>
	    <!-- Green Static Tile -->
	    <div class="live-tile green" data-direction="vertical" data-delay="3500">
	    	<div class="ttl">Gymnastics for Kids (Age group 5+)</div>
	        <div class="cntnt">Twice a week , Rate 2000 / Month(this includes 2 hours of complemetry play at Playgym)</div>
	    </div>
	    <div class="live-tile mango" data-direction="horizontal" data-delay="3000">
	        <div class="ttl">Laser Tag for kids (Age group 5+)</div>
	        <div class="cntnt">Twice a week , Rate 50/ Game</div>
	    </div>
	    <div class="live-tile magenta" data-direction="horizontal" data-delay="3500">
	        <div class="ttl">Football coaching (Age group 5 - 10)</div>
	        <div class="cntnt">Thrice a week , Rate 1000 / Month(this includes 2 hours of complemetry play at Playgym) Duration 30 mins</div>
	    </div>
	    <div class="live-tile teal" data-direction="vertical" data-delay="3500">
	        <div class="ttl">Tennis coaching (Age group 5 - 10)</div>
	        <div class="cntnt">Thrice a week , Rate 1000 / Month(this includes 2 hours of complemetry play at Playgym) Duration 30 mins</div>
	    </div>
	</div>
</div>