
		    <h4><p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;padding:10px;">Hey <%= @member.first_name %>, Wish you happy birthday!!!</p></h4>
		    <p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;"><img src="http://fast-taiga-9760.herokuapp.com/assets/birthday_background.jpg">
		    </p>
		