
		    <h4><p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;padding:10px;">Dear <%= @member.first_name %>:</p></h4>
		    <br>
		    <p style="font-size:16px;line-height:1.7;color:#808b92;font-weight:300;font-family:lato,open sans,helvetica;margin:0;padding:0px 20px 20px;">First off, Thank You very much for visiting PlayGym. We sincerely appreciate you visiting us and I hope you and your loved ones have enjoyed and benefited from using PlayGym. <br> You can get more information/future activities at PlayGym by visiting our website www.playgym.in or by visiting our facebook page - https://www.facebook.com/playgymindia We publish weekly calander on our website of all the activities during current week.

		    <br><br>
		    Have a great time <br>
			Happy PlayGyming..... <br>
			PlayGym Team <br>
		    </p>
		