<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Comments and Suggestions are always welcome!!</h4>
      </div>
      <div class="modal-body">
        <%# the code has been removed for comments %>
      </div>
    </div>
  </div>
</div>

<!-- , "data-dismiss" => "modal" -->