	<!-- FOOTER -->
	<footer class="bg-info">
	    <p class="pull-right"><a href="#">Back to top</a></p>
		<p>&copy; 2014 PlayGym. &middot; <%= link_to "Privacy", privacy_home_index_path %> &middot; <%= link_to "Terms & Services", terms_of_service_home_index_path %></p>
	</footer>
	