<!-- Google calendar code -->
<div class='row'>
  <div class="span8 offset1">  
  <iframe src="https://www.google.com/calendar/embed?src=help.playgym%40gmail.com&ctz=Asia/Calcutta&amp;showPrint=0&amp;showTitle=0&amp;showTabs=0&amp;showTz=0&amp;mode=WEEK&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=Asia%2FCalcutta" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>
  <p>Click <%= link_to "here", "https://www.google.com/calendar/embed?src=help.playgym%40gmail.com&ctz=Asia/Calcutta "%> for complete calendar view</p>
  </div>
</div>