<div style="background:#fff;width:320px;padding:1px 1px 1px 10px;border-radius:10px;float:right;">
	<p><div class="fb-like" data-href="https://www.facebook.com/playgymindia" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></p>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=512900678795194";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

 <!-- || <a href="https://plus.google.com/107639355027502453335" rel="publisher">Google+</a> -->