<p>This is about us page</p>

PlayGym is a unique concept in India which aims at providing  learning opportunities to kids age 1 through

12 years. It is a novel activity center which through thoughtfully chosen equipment & activities and carefully 

trained and hired instructors & coaches provides ongoing creative activities amd learning opportunities 

for kids and families. Playgym has a highly interactive website which allows parents and children's to be 

connected and informed

<%= link_to "Back" , :root%>