<% content_for :carousel do %>
  <%= render "/shared/carousel" %>
<% end %>
<!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" data-src="/assets/g1.jpg" src="/assets/g1.jpg" style="border: solid 3px #F0EDE5; width: 280px; height: 280px;">
      <h2>Programs</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="/activities" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="/assets/g2.jpg" src="/assets/g2.jpg" style="border: solid 3px #F0EDE5; width: 280px; height: 280px;">
      <h2>Events</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="/activities/events_list" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" data-src="/assets/g3.jpg" src="/assets/g3.jpg" style="border: solid 3px #F0EDE5; width: 280px; height: 280px;">
      <h2>Summer Activities</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/examples/carousel/#" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">About Playgym <span class="text-muted"></span></h2>
      <p class="lead">PlayGym is a creative, joyful and energetic play space for children of all ages. Connect with your inner child; let the imagination run wild through creative play! PlayGym has a variety of activities: Play equipment with rock climbing (wall), trampolines, boxing, soft play area (for toddlers), indoor tennis,& football, hopping balls, hula hoops, ribbon dance, climbing ropes, climbing nets & much more!</p>
    </div>
    <div class="col-md-5">
      <%= render "/shared/map" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <%= render "/shared/google_calendar" %>
    </div>
    <div class="col-md-5">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-heading">
  <!-- What they say! <span class="text-muted"></span></h2> -->
  <div class="row featurette">
    <div id="carousel-example-generic" class="carousel1 carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-inner">
        <div class="Item item active">
          <img src="/assets/c1.jpg" alt="...">
          <div class="carousel-caption">
            <i class="fa fa-quote-left"></i> Donec ullamcorper nulla non metus auctor fringilla.
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
        <div class="Item item">
          <img src="/assets/c2.jpg" alt="...">
          <div class="carousel-caption">
            <i class="fa fa-quote-left"></i>
            Donec ullamcorper nulla non metus auctor fringilla.
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
        <div class="Item item">
          <img src="/assets/c3.jpg" alt="...">
          <div class="carousel-caption">
            <i class="fa fa-quote-left"></i>
            Donec ullamcorper nulla non metus auctor fringilla.
            <i class="fa fa-quote-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->