<p>This is privacy page</p>

PlayGym.in, launched in 2013, is the first of its kind children-oriented play-zone arena for Children. Kids, parents and teachers from more than 20 different schools around the bangalore- which is called as silicon valley of East- have joined us in our mission to give kids a voice to the world and to each other through a variety of engaging activities. We partner with other virtual worlds, gaming sites, content providers, consumer products companies and real world destinations to create one safe, educational and fun filled activity centre for the little ones.

Anyone can play @ PlayGym. It is free and Idea Seeker or Ally registration is not required. Some areas of the site, however, are reserved for registered Idea Seeker Members and Allies who have obtained their parent's permission.

PlayGym.in follows all the guidelines for compliance with the Children's Online Privacy Protection Act and Rule.

<%= link_to "Back" , :root%>