/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min.css
 *= require carousel.css
 *= require style.css
 *= require login.css
 *= require font-awesome.min.css
 */

.carousel1 {
	height: 100px;
	margin-bottom: auto;
}

.carousel1 .Item, .carousel1 .Item img{
	height: 100px;
	width: 100px;
	margin-bottom: auto;
}

.carousel1 .Item .carousel-caption{
	color: #999999;
	margin-left: 100px;
	height: 50%;
	width: 800px;
}
.carousel-caption .fa{
	font-size: 45px;
}
#carousel-example-generic{
	width: 100%;
	text-align: center;
}