<div class="container">

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual">
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/events/birthday_party.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Birthday Party</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual">
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/events/movie_night.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Movie Night</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual">
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/events/water_games.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Water Games</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>