<div class="container">

    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual">
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/boxing.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Boxing</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual">
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/climbing_wall.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Climbing Wall</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual">
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/football.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Football</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/hopping_ball.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Hopping Ball</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/hula_hoops.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Hula Hoops</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/karate.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Karate</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/lesar_tag.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Lesar Tag</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/ribbin_dance.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Ribbin Dance</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/rope_bridge_1.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Rope Bridge</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/slackline_1.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Slackline</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/tennis_1.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Tennis</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#" class="no-visual"> 
                <div class="tile case-study-tile case-study-tile-large">
                    <div class="top">
                        <div class="image">
                            <img src="/assets/programs/trampolin_jump.jpg">
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="name tile-name-large">
                            <span class="no-wrap ellipsis">Trampolin Jump</span>
                        </div>
                        <div class="divider">
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>