<header id="header">
	<hgroup>
	  <h1 class="site_title"><a href="/admin/members">Playgym Admin</a></h1>
	  <h2 class="section_title"><%= yield :title %></h2>
	  <div class="btn_view_site">
	  	<%= link_to '<i class="fa fa-home"></i>&nbsp Home'.html_safe, root_path %>
	  </div>
	</hgroup>
</header> <!-- end of header bar -->