<% unless @flash[:status] == :none %>
	$(".flash-messages").html('<div class="alert alert-<%=@flash[:status]%> alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%=@flash[:message]%></div>').hide();
	$(".flash-messages").fadeIn('slow');
<% end %>